<div class="row col-md-6 col-md-offset-3">
	<div class="jumbotron">
		<h1>Sign In</h1>
		<form ng-submit="register.post()">
			<div class="form-group">
				<label>Username</label>
				<input type="email" class="form-control" ng-model="register.data.username" ng-change="register.userNameChange()">
			</div>
			<div class="alert alert-danger" ng-if="register.error">
				{{ register.error }}
			</div>
			<div class="alert alert-danger" ng-if="register.success">
				{{ register.success }}
			</div>
			<button type="submit" class="btn btn-block btn-primary" ng-disabled="register.data.btnDisabled">
				<span ng-bind = "register.data.loginBtnVal"></span>
			</button>
		</form>
	</div>
</div>