<div class="row col-md-6 col-md-offset-3">
	<div class="jumbotron">
		<h1>Sign In</h1>
		<form ng-submit="register.post()">
			<div class="form-group">
				<label>Username</label>
				<input type="email" class="form-control" ng-model="register.data.username" disabled="disabled">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" ng-model="register.data.password">
			</div>

			<div class="form-group">
				<label>ConfrimPassword</label>
				<input type="password" class="form-control" ng-model="register.data.confrimPassword">
			</div>
			<div class="alert alert-danger" ng-if="register.error">
				{{ register.error }}
			</div>
			<button type="submit" class="btn btn-block btn-primary">
				<span ng-if="!login.processing">Login</span>
				<span ng-if="login.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
			</button>

		</form>
	</div>
</div>