<div class="row col-md-6 col-md-offset-3">
	<div class="jumbotron">
		<h1>注册企业网络</h1>
		<form ng-submit="org.post()">
			<div class="form-group">
				<label>name</label>
				<input type="text" class="form-control" ng-model="org.data.name" ng-change = 'org.changeName()'>
			</div>
      <div class="form-group">
				<label>公司名称</label>
				<select ng-model="org.data.category" ng-change="org.selectChange()">
            <option value="0">公司</option>
            <option value="1">部门</option>
            <option value="2">团队</option>
        </select>
			</div>
      <div class="form-group">
				<label>父机构</label>
				<select ng-model="org.data.parentId" >
            <option value="0">请选择</option>
        </select>
			</div>
      <div class="alert alert-danger" ng-if="org.error">
				{{ org.error }}
			</div>
			<div class="alert alert-danger" ng-if="org.success">
				{{ org.success }}
			</div>
			<button type="submit" class="btn btn-block btn-primary" ng-disabled="org.data.btnDisabled">
				<span ng-bind = "org.data.loginBtnVal"></span>
			</button>
		</form>
	</div>
</div>
